/* FONT */

@import url("https://fonts.googleapis.com/css?family=Saira");

/* BODY STYLING */

body {
  margin: 0;
  padding: 0;
  background: #1b213a;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Saira", sans-serif;
  letter-spacing: 0.50em;
}


/* NAVIGATION */

.navbar {
  background-color: transparent !important;
  text-shadow: 0 0 5px #8b97c9, 0 0 10px #8b97c9, 0 0 15px #8b97c9, 0 0 20px #1b213a, 0 0 30px #1b213a, 0 0 40px #1b213a, 0 0 55px #1b213a, 0 0 75px #8b97c9;
}


/* VIDEO BACKGROUND */

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1b213a;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
}

#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}


/* GENERAL */

h1 {
  position: absolute;
  bottom: 1%;
  left: 3%;
  width: 94%;
  letter-spacing: 10px;
  color: #f6f7fb;
  text-shadow: 0 0 5px #8b97c9, 0 0 10px #8b97c9, 0 0 15px #8b97c9, 0 0 20px #1b213a, 0 0 30px #1b213a, 0 0 40px #1b213a, 0 0 55px #1b213a, 0 0 75px #8b97c9;
  text-align: center;
}

i {
  color: #f6f7fb;
}

.infoFontsize {
  font-size: 15px;
}


/* LEADERBOARD */

table {
  font-size: 15px;
}

.topPlayers {
  font-size: 20px;
}


/* BUTTONS & FORM */

.btn-default,
.btn-block,
.btn {
  border-radius: 60px;
  background-color: transparent !important;
  color: #f6f7fb !important;
  text-shadow: 0 0 5px #8b97c9, 0 0 10px #8b97c9, 0 0 15px #8b97c9, 0 0 20px #1b213a, 0 0 30px #1b213a, 0 0 40px #1b213a, 0 0 55px #1b213a, 0 0 75px #8b97c9;
}

.form-control {
  border-radius: 60px;
  background-color: transparent !important;
}