{% extends 'base.html' %}
{% block content %}

<div class="main">
    <h1>
        <p class="top-players"># FINAL SCORE: {{ score }}</p>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {% for score in highscores %}
                <tr>
                    <th scope="row">{{ loop.index }}}</th>
                    <td>{{ highscores[loop.index-1]["name"] }}</td>
                    <td>{{ highscores[loop.index-1]["score"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </h1>
</div>

{% endblock %}