{% extends 'base.html' %}
{% block content %}

<div class="main">
    <h1>
        <!-- <div>Game Over</div> -->
        <p>TOP 3 SCORER</p>

        <table class="table table-borderless text-center">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Sipo</td>
                    <td>7</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Matt</td>
                    <td>5</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Anna</td>
                    <td>3</td>
                </tr>
            </tbody>
        </table>
    </h1>
</div>

{% endblock %}